@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

.font-family-Roboto-Medium {
    font-family: Roboto-Medium;
}

.font-family-Poppins {
    font-family: Poppins;
}

.table-actions{
    width: 150px;
}

.table td, .table th{
    padding: .75rem!important;
}

.delete-button{
    cursor: pointer;
}

input:focus,
button:focus,
textarea:focus{
    outline: 0;
    box-shadow: none!important;
}

.search-icon{
    position: absolute;
    top: 42px;
    right: 10px;
    font-size: 16px;
    color: #737373;
}

a:hover{
    text-decoration: none!important;
}

.flex-1{
    flex: 1;
}

.btn{
    font-family: Roboto-Medium;
    text-transform: capitalize!important;
    font-size: 0.9rem!important;
}

.table th{
    font-family: Roboto-Medium;
}

.note-custom-style{
    padding: 3px!important;
    font-size: 14px!important;
    width: fit-content!important;
}

.width-25{
    width: 25px;
}

.nav-tabs .nav-link.disabled {
    color: #afafaf!important;
}

.navbar-dark .navbar-toggler-icon, .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.cursor-pointer{
    cursor: pointer;
}

.btn-xs.btn-floating{
    width: 1.5rem;
    height: 1.5rem;
}
.btn-xs.btn-floating .fab, .btn-xs.btn-floating .far, .btn-xs.btn-floating .fas {
    width: 1.5rem;
    line-height: 1.5rem;
}
.table-responsive>.table-bordered {
    border: 1px solid #dee2e6!important;
}